* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    margin: 0;
}

.container {
    max-width: 1550px;
    margin: auto;
}

.bg-img {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.60) 100%),
        url('../img/scooter1.jpg') no-repeat center top / cover;
        height:1500px ;
}

.wrap {
    margin: 100px 0px;
}

.header {
    position: relative;
    height: 62px;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.20);
    background-color: #fff;
}

.head {
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header p {
    font-size: 16px;
    font-weight: 400;
}

.zvon {
    background-color: #FFA019;
    border-radius: 10px;
    border: 0;
    width: 184px;
    height: 37px;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
}

.zvon:hover {
    background-color: #ee9519;
    cursor: pointer;
    border: 2px solid #FFA019;
}

.nav {
    background-color: #fff;
    height: 62px;
}

header h1 {
    font-size: 30px;
    font-weight: 700;
}

.scIMG {
    display: flex;
    flex-direction: column;
    max-width: 690px;
    color: #fff;
    font-size: 20px;
    text-align: center;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 20px;
}

.menu {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 30px
}

.menu-item {
    align-items: center;
}

.menu-link {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.scIMG h1 {
    color: #FFF;
    font-size: 56px;
    font-weight: 300;
}

.scIMG p {
    color: #FFF;
    font-size: 20px;
    font-weight: 300;
}

.catalogi {
    background-color: #fff;
    width: 137px;
    height: 37px;
    border-radius: 10px;
    border: 0;
    font-weight: 700;
}

.h1 {
    font-size: 34px;
    font-weight: 300;
}

.advantages-txt {
    color: #000;
    font-size: 20px;
    font-weight: 300;
    display: flex;
    align-items: center;
}
.advantages1{
    display: flex;
    justify-content: space-between;
}
.column {
    list-style-type: none;
    margin-right: 245px;
    margin-top: 104px;
    font-weight: lighter;
}

.column1 {
    list-style-type: none;
    font-weight: lighter;
    margin-right: auto;
}

.advantages {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    justify-content: space-between;
}

.txt {
    margin-top: 30px;
    font-size: 20px;
    max-width: 1200px;
    margin: 0;
    padding-bottom: 20px;
}

.form {
    margin-top: 79px;
    background-color: #FFA019;
    font-size: 18px;
    font-weight: 500;
}

.form-div {
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.form-text {
    color: #fff;
}

.textarea {
    display: flex;
    align-items: center;
    gap: 30px;
}

.textarea-form {
    width: 230px;
    height: 45px;
    align-items: center;

}

.textarea button {
    background-color: #fff;
    width: 230px;
    height: 45px;
    border: 0;
    font-weight: 700;
}

.peculiarities div {
    display: flex;
    padding-right: 100px;
}

.plus-minuses {
    list-style-type: none;
    font-size: 20px;
    justify-content: space-between;
    padding-bottom: 30px;
}

.choice{
    display: flex;
    list-style-type: none;
    margin-top: 30px;
    font-size: 20px;
    padding-top: 85px;
}

.choice p {
    padding-right: 20px;
}

.catalog {
    display: flex;
}
.consultant{
    padding-bottom: 200px;
}
.consultant1{
  display: flex;
}
.consultant-card{
    display: flex;
    align-items: center;
    width: 360px;
    height: 201px;
    flex-shrink: 0;
}
.consultant-name{
    color: #000;
    font-family: Segoe UI;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.consultant-txt{
    text-align: center;
}
.consultant img{
    width: 151.496px;
    height: 201.66px;
    flex-shrink: 0;
}
.consultant p{
    color: #000;
    font-size: 12px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 20px;
}
.consultant a{
    border-radius: 7px;
    background: #FFA019;
    color: #FFF;
    font-size: 10px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}
.brand{
    color: #9B9B9B;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    justify-content: space-between;
    display: flex;
}
.info{
    display: flex;
    list-style-type: none;
}
.info-bl{
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.40);
    z-index: 1;
    width: 261px;
    height: 261px;
    
}
.info img{
    width: 261px;
    height: 261px;
}
.info-text{
    position: absolute;
    text-align: center;
    color: #FFF;
    font-size: 18px;
    font-weight: 700;
    z-index: 2;    
}
.card-inf{
    display: flex;
    position: relative;
    max-width: 261px;
    z-index: 0;
    
}
.card {
    display: flex;
    position: relative;
    max-width: 261px;
    z-index: 0;
}
.footer-content {
    padding: 100px 0px;
    display: flex;
    justify-content: space-between;
}
.footer-text2 {
    display: inline-flex;
    flex-direction: column;
    color: #8191A6;
    font-size: 14px;
    font-weight: 400;
}
.right-column-footer {
    gap: 44px;
    display: flex;
    justify-content: space-between;
}
.left-column-footer {
    width: 332px;
    height: 184px;
}
.footer-text2 a {
    text-decoration: none;
    color: #8191A6;
}











.footer {
    background: #F8F5F5;
}